@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


body {
  font-family: 'Roboto', sans-serif; /* Change 'Roboto' to your chosen font */
  margin: 0; /* Optional: Reset default margins */
  padding: 0; /* Optional: Reset default padding */
  box-sizing: border-box; /* Optional: Ensure consistent box sizing */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* Add slick-carousel CSS */
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

@tailwind base;
@tailwind components;
@tailwind utilities;
